<% include ../header.ejs %>
<body style="padding: 15px;">
<a href="/dashboard">
	<div style="position: absolute; top: 10px; left: 15px; color: #ccc; font-weight: bold; font-size: 14px;">
		back
	</div>
</a>
<div align="center">
	<span class="app_title" style="margin-top: 10px; display: inline-block">Fitted</span>
</div>
<div align="left">
	<%var json_data = JSON.parse(JSON.stringify(user))%>
	<%var class_data = JSON.parse(JSON.stringify(class_preferences))%>
	<div class="reg-inp-group-title" style="margin-bottom: 5px;">
		Registered <span id="registered_date"></span>
	</div>
	<!--<div class="reg-inp-group-title" style="margin-bottom: 5px;">
		Last logged in <span id="registered_date"></span>
	</div>-->

	<div class="reg-inp-group">
			<div class="reg-inp-group-title">
				Display Name
			</div>
		<input type="text" class="regInp" value="<%=user['display_name']%>" id="reg_displayName">
	</div>

	<div class="reg-inp-group">
			<div class="reg-inp-group-title">
				Email
			</div>
		<input type="text" class="regInp" value="<%=user['email']%>" id="reg_email">
	</div>

	<div class="reg-inp-group">
				<div class="reg-inp-group-title">
					Birthday
				</div>
				<select class="selectMM" id="reg_bday_mm">
				 	<option value="01">January</option>
	  				<option value="02">February</option>
	  				<option value="03">March</option>
	  				<option value="04">April</option>
	  				<option value="05">May</option>
	  				<option value="06">June</option>
	  				<option value="07">July</option>
	  				<option value="08">August</option>
	  				<option value="09">September</option>
	  				<option value="10">October</option>
	  				<option value="11">November</option>
	  				<option value="12">December</option>
				</select>

				<input type="text" class="regInp regInp-DD" placeholder="DD" id="reg_bday_dd" onkeypress="return isNumberKey(event)" maxlength="2">

				<select class="selectMM" id="reg_bday_yyyy">
					<% var start_year = 2017-100; var len = 100; %>
					<% for(var i = start_year; i < start_year+len; i++) { %>
						<option value="<%=i%>"><%=i%></option>
					<% } %>
				</select>
	</div>

	<div class="reg-inp-group">
			<div class="reg-inp-group-title">
				Account Type
			</div>
			<span>
				<% if (json_data["isInstructor"] <= 0){ %>
				<button class="btn fitted_button fitted_button-selected" id="student_btn">Student</button>
				<button class="btn fitted_button" id="instructor_btn">Instructor</button>
				<% } else { %>
					<button class="btn fitted_button" id="student_btn">Student</button>
					<button class="btn fitted_button fitted_button-selected" id="instructor_btn">Instructor</button>
				<% } %>
			</span>
	</div><br>

	<div class="reg-inp-group">
			<div class="reg-inp-group-title">
				Class Type Preferences
			</div>
			<%for(var prop in class_data) { %>
				<%if(class_data[prop]['isActive'] >= 1) { %>
				<button 
					class="btn fitted_classpref_button fitted_classpref_button_profile" 
					class_id='<%=class_data[prop][`id`]%>' 
					style="background-color:#<%=class_data[prop]['color']%>;">
					<%=class_data[prop]['name']%>
				</button>
				<%}%>
			<%}%>
	</div><br>

	<div class="reg-inp-group">
			<div class="reg-inp-group-title">
				Payment Info
			</div>
	</div>
</div>
<div class="reg-confirm" id="reg_save" style="left:0;">
	Save Changes
</div>

<script>

var reg_date = moment('<%= json_data["reg_date"] %>');
var birthdate = moment('<%= json_data["birthdate"] %>');

$(document).ready(function(){
	//set registered date
	$("#registered_date").html(reg_date.format("dddd MMMM Do, YYYY"));
	//set last log in date

	//set birthdate stuff
	//month
	var month = birthdate.format("MM");
	$("#reg_bday_mm option[value=" + month + "]").attr("selected", "selected");

	//day
	$("#reg_bday_dd").val(birthdate.format("DD"));

	//year
	var year = birthdate.format("YYYY");
	$("#reg_bday_yyyy option[value=" + year + "]").attr('selected', 'selected');

	//instructor button behavior
	$('.fitted_button').mouseup(function(){
			if($(this).attr('id') == 'instructor_btn'){
				$('#student_btn').removeClass('fitted_button-selected');
			}
			else {
				$('#instructor_btn').removeClass('fitted_button-selected');
			}
			$(this).addClass('fitted_button-selected');
	});

	$("#reg_save").mouseup(function(){
		//get all info
		//make date
		var birthdate = String($("#reg_bday_yyyy").val()) + "-" + String($("#reg_bday_mm").val()) + "-" + String($("#reg_bday_dd").val());
		var isInstructor = 0;
		if($("#instructor_btn").hasClass("fitted_button-selected")){
			isInstructor = 1;
		}

		var save_data = { 
			"displayName": $('#reg_displayName').val(),
			"email": $('#reg_email').val(),
			"birthdate": birthdate,
			"isInstructor": isInstructor,
		};

		//POST it
		$.ajax({
			type: "POST",
			url: "/post/saveprofile",
			data: JSON.stringify(save_data),
			contentType: "application/json",
			complete: function(data){
				window.location.replace('/auth/facebook');
			}
		});
	});
});

</script>
</body>
</html>