<div class="card" align="center">
	<span class='title'>Your classes</span>
	<div class="divider-15"></div>
	<a href="/createclass"><button class='grey-btn'>Create class</button></a>
</div>

<div class="card">
	<h2>Active Classes</h2>
	<span class='title'>Scheduled and searchable by students.</span>
	<div class="divider-15"></div>
	<% if(activeClasses.length > 0) { %>
		<div class="class-card">
			active class card here
		</div>
	<% } else  { %>
		<div class="none-class-card">
			None
		</div>
	<% } %>
</div>

<div class="card">
	<h2>Non-active Classes</h2>
	<span class='title'>Not scheduled.</span>
	<div class="divider-15"></div>
	<% if(inactiveClasses.length > 0) { %>

		<% for(var i = 0; i < inactiveClasses.length; i++) { %>
		<div class="class-card">
			<div class="class-card-header">
				<div style="display: inline-block; width: 50%;">
					<%= inactiveClasses[i].max_students %> slots
				</div><!--
				--><div style="display: inline-block; width: 50%; text-align: right;">
					More Info &nbsp; <i class="fa fa-caret-right" aria-hidden="true"></i>
				</div>
			</div>
			<div class="class-card-table">
				<div style="display: inline-block; margin-right: 20px;">
					<b>TIME</b><br>
					<%=inactiveClasses[i].length_class%> min<br>
					$<%=inactiveClasses[i].price%>
				</div><!--
				--><div style="display: inline-block;">
					<b><%=inactiveClasses[i].title%></b><br>
					<span style="text-transform: capitalize;"><%=exercise_types[inactiveClasses[i].type_class].name%></span><br>
					<i class="fa fa-map-marker" aria-hidden="true"></i> Location
				</div>
			</div>
		</div><br>
		<% } %>

	<% } else  { %>
		<div class="none-class-card">
			None
		</div>
	<% } %>
</div>