<div align="center">
	<div class="divider-15"></div>
	<div><%=class_data['type'] %></div>

	<div><%= class_data['title']%></div>

	<div>
		<% if(class_data['date']){ %>
		DATE
		<% } else { %>
		Date TBD 
		<% } %> | 
		<% if(class_data['date']){ %>
		TIME
		<% } else { %>
		Time TBD 
		<% } %> | <%= class_data['length']%> minutes
	</div>
</div>

<div class="card">
Instructor card
</div>

<div class="card">
	<div class="title" align="center">
	Description
	</div>
	<%= class_data['description'] %>
</div>

<div class="card">
	<div class="title" align="center">
		Location
	</div>
	<div class="divider-15"></div>
	<div id="preview_map" style="height: 180px; width: 100%;"></div>
	<div class="divider-15"></div>
</div>

<div align="center">
	<button class="bottom-btn" style='pointer-events: none; opacity: .4;'>
		Reserve for $<%= class_data['price'] %>
	</button>
</div>

<div class="divider-15"></div>
<div class="divider-15"></div>


<script>
//map
function initMap() {
	var piedmont = {lat: 36.1259707, lng: -80.230882};
	var preview_map = new google.maps.Map(document.getElementById('preview_map'), {
	  zoom: 14,
	  center: piedmont,
	  zoomControl: false,
	  scaleControl: false,
	  scrollwheel: false,
	  disableDoubleClickZoom: true,
	});

	var styledMapType = new google.maps.StyledMapType(
		[ { "elementType": "geometry", "stylers": [ { "color": "#f5f5f5" } ] }, { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] }, { "elementType": "labels.text.stroke", "stylers": [ { "color": "#f5f5f5" } ] }, { "featureType": "administrative.land_parcel", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] }, { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] }, { "featureType": "poi", "elementType": "labels.text", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] }, { "featureType": "poi.business", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] }, { "featureType": "poi.park", "elementType": "labels.text", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }, { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#ffffff" } ] }, { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#dadada" } ] }, { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] }, { "featureType": "road.local", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }, { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] }, { "featureType": "transit.station", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] }, { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#c9c9c9" } ] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] } ]);
	preview_map.mapTypes.set('styled_map', styledMapType);
	preview_map.setMapTypeId('styled_map');
	var marker = new google.maps.Marker({
	  position: piedmont,
	  map: preview_map
	});
}
</script>
