<% include header.ejs %>
<body>
<!--facebook code-->
<script>
$(document).ready(function(){

function checkLoginState() {
	FB.login(function(response){
		//console.log(response);
	});
}

window.fbAsyncInit = function() {
	FB.init({
	  appId      : '672245366249588',
	  xfbml      : true,
	  version    : 'v2.6'
	});

	var user_id, accessToken, signedRequest, expiresIn;

	FB.getLoginStatus(function(response){
		accessToken = response.authResponse.accessToken;
		user_id = response.authResponse.userID;
		signedRequest = response.authResponse.signedRequest;
		expiresIn = response.authResponse.expiresIn;

		FB.api("/" + user_id + "/", function(response){
			//console.log(response);
		})

		//Once we're logged in do more!
		//Need to condense this into a batch request
		FB.api("/" + user_id + "/picture?width=9999", 
			function(response){
				if (response && !response.error) {
	        		//document.getElementById("reg-user-profile-image").src = response.data.url;
	        		$(".profile-picture-image").attr('src', response.data.url);
	      		}
			}
		);

		/* 	request
			first_name
			last_name
			birthday
			location
		*/
		FB.api('/' + user_id + "?fields=first_name,last_name,birthday,location,email&accessToken=" + accessToken,
		function(response){
			if(response && !response.error) {
				//fill in inputs
				$('#reg_name').val(response.first_name + " " + response.last_name);
				$('#reg_email').val(response.email);

				//need to figure out the zip code stuff...complicated?

				//birthday
				var bday = response.birthday;
				bday = bday.split("/");
				$("#reg_bday_mm").val(bday[0]);
				$("#reg_bday_dd").val(bday[1]);
				$("#reg_bday_yyyy").val(bday[2]);
				}
			}
		);

	});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "static/js/facebook-sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
});
</script>

<body>	
<script>
	var user_id = <%=user.id%>;
</script>

<loader class="hide-loader">
	<div class='loader-inner'>
		<i class="fa fa-spinner" id="loading-icon" aria-hidden="true"></i>
	</div>
</loader>

<div class="header-bar" align="center">
	<span class="title">Get Started</span>
	<div style="margin-top: 10px;">
		<div class="tiny-bubble">1</div>
		<div class="tiny-bubble">2</div>
		<div class="tiny-bubble">3</div>
		<div class="tiny-bubble">4</div>
	</div>
</div>

<div class="content" align="center">
	<div id="page1">
		<div class="title">What would you like to <br>sign up as?</div><br>

		<p><button class="select-btn" id='instructor_btn'>An Instructor</button></p>
		<p><button class="select-btn select-btn-selected">A student</button></p>
	</div>

	<div id="page2">
		<div class="title">Confirm your account details.</div><br>
		<div align="left" style="color: #001B38; padding-left: 15px; padding-right: 15px;">
			<div>
				<span class="input-title">Name</span>
				<input type="text" class="input-line input-line-max" placeholder="Olivia Culpo" id="reg_name">
			</div>
			<div class="divider-15"></div>
			<div>
				<span class="input-title">Email</span>
				<input type="text" class="input-line input-line-max" placeholder="olivia.culpo@gmail.com" id="reg_email">
			</div>
			<div class="divider-15"></div>
			<div>
				<span class="input-title">Location</span>
				<input type="text" class="input-line input-line-max" value="73532" id="reg_location">
			</div>
			<div class="divider-15"></div>
			<div>
				<span class="input-title">Birthday</span><br>
				<div class='display: table; width: 100%;'>

					<div style="display: table-cell; padding-right: 5px;">
						<select class="select-line" id="reg_bday_mm">
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>

					<div style="display: table-cell; padding-right: 5px; width: 60px;">
						<input type="text" class="input-line input-line-max" placeholder="01" id="reg_bday_dd"> 
					</div>

					<div style="display: table-cell;">
						<select class="select-line" id="reg_bday_yyyy">
							<% for (var i = 1916; i < (1916+100); i++) { %>
								<option value="<%-i%>"><%-i %></option>
							<% } %>
						</select>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id='page3'>
		<div class="title">Your profile picture.</div>
		<div class="profile-picture"><img class='profile-picture-image'></div>
		<div class="divider-15"></div>
		<div class="title">
			What are your fitness specialties?
			<div class="subtitle">Select up to three.</div>
			<div class="divider-15"></div>
			<% var exercise_json = JSON.parse(JSON.stringify((exercise_types))) %>
			<% for(var i = 0; i < exercise_json.length; i++) { %>
			<p><button class="select-btn" exercise_id='<%=exercise_json[i]["id"]%>'><%= exercise_json[i]['name'] %></button></p>
			<% } %>
		</div><br>
		<div class="title">Write a little about yourself.</div>
		<div style="margin-left: 30px; margin-right: 30px;">
			<textarea rows=8 placeholder="Type here..." maxlength="400" id="description" onkeyup="updateDescCount()"></textarea>
		</div>
		<div style="color: #9B9B9B; font-size: 10px; margin-top: 5px; margin-left: 30px;" align='left'>
			<span id="desc_count">0</span> out of 400 characters
		</div>
	</div>

	<div id='page4'>
		<div class="title">Link your debit card.
			<div class="subtitle">We'll transfer money you've earned to your bank account.</div>
			<div class="divider-15"></div>
		</div>
		<div class="card">
			<div class="i-card"><img src="/static/img/i_creditcard.png"></div>
			<div align='left'>
				<div>
					<span class="input-title">Name on Debit Card</span>
					<input type="text" class="input-line input-line-max" placeholder="Enter here" id="">
				</div>
				<div class="divider-15"></div>
				<div>
					<span class="input-title">Card Number</span>
					<input type="text" class="input-line input-line-max" placeholder="Enter here" id="">
				</div>
				<div class="divider-15"></div>
				<div>
					<div style="display:inline-block; width: 50%; padding-right: 5px;">
						<span class="input-title">Expiration Date</span>
						<input type="text" class="input-line input-line-max" placeholder="Enter here" id=""> 
					</div><!--
					--><div style="display: inline-block; width: 50%; padding-left: 5px;">
						<span class="input-title">CVV Code</span>
						<input type="text" class="input-line input-line-max" placeholder="Enter here" id=""> 
					</div>
				</div>
			</div>
		</div>
		<span class="input-title">Skip this step for now</span>
		<div class="divider-15"></div>
	</div>

</div>

<div class="footer-triangle"></div>

<footer>
	<div align="center">
		<button class="bottom-btn" id="continue" isSubmittable=false>continue</button>
	</div>
</footer>

<script>
$('.content').slick( {
	arrows: false,
	adaptiveHeight: true,
	infinite: false,
});

$('.tiny-bubble').mouseup(function(){
	new_slide_index = parseInt($(this).html()) - 1;
	$(".content").slick('slickGoTo', new_slide_index);
});
function updateBubbleNumbers(){
	var slick_index = $(".content").slick('slickCurrentSlide')+1;
	$(".tiny-bubble").removeClass('tiny-bubble-selected');
	$(".tiny-bubble").each(function(){
		if(parseInt($(this).html()) == slick_index){
			$(this).addClass('tiny-bubble-selected');
		}
	});
}
updateBubbleNumbers();

$("#continue").mouseup(function(){
	$('.content').slick('slickNext');
	if($('.content').slick('slickCurrentSlide') == 3 && $('#continue').attr('isSubmittable') == 'true'){
		submitData();
	}
});

$('.content').on('afterChange', function(){
	updateBubbleNumbers();
	if($('.content').slick('slickCurrentSlide') == 3){
		$('#continue').html('complete');
		$('#continue').attr('isSubmittable', true)
	}
	else {
		$('#continue').html('continue');
		$('#continue').attr('isSubmittable', false)
	}
});

/*
*	page 1 - what would you like to sign up as?
*/
$('#page1 .select-btn').mouseup(function(){
	if(!$(this).hasClass('select-btn-selected')){
		$('#page1 .select-btn').removeClass('select-btn-selected');
		$(this).addClass('select-btn-selected');
	}
});

/*
*	page 2 - confirm account details
*/


/*
*	page 3 - profile, fitness specialities, description
*/
function updateDescCount(){
	var count = $("#description").val().length;
	$('#desc_count').html(count);
}
updateDescCount();

var selected_exercises = [];
$('#page3 .select-btn').mouseup(function(){
	if(!$(this).hasClass('select-btn-selected')){
		if(selected_exercises.length >= 3){
			var deleted = selected_exercises[0];
			selected_exercises.shift();
			$('#page3 .select-btn[exercise_id]').each(function(){
				if($(this).attr('exercise_id') == deleted ){
					$(this).removeClass('select-btn-selected');
				}
			});
		}
		selected_exercises.push($(this).attr('exercise_id'));
		$(this).addClass('select-btn-selected')
	} else {
		var this_id = $(this).attr('exercise_id');
		var index = selected_exercises.indexOf(this_id);
		if (index > -1) {
		    selected_exercises.splice(index, 1);
		}
		$(this).removeClass('select-btn-selected');
	}
});

/*
*	page 4 - credit card
*/


/*
* attempt to submit data
*/
function submitData(){
	//console.log('submitData');
	$('loader').removeClass('hide-loader'); //disable everything, show loading thing

	//start making the object..oh joy
	//check and make sure it's filled in if not cancel everything

	/*var reg_data = {
				"data": {
					"display_name": $('#reg_displayName').val(),
					"email": $("#reg_email").val(),
					"birthday": bday_str,
					"location": $('#reg_location').val(),
					"isInstructor": isInstructor
			},
	}*/

	//PAGE 1
	//get instructor
	var isInstructor = 0;
	if($("#instructor_btn").hasClass('select-btn-selected')){
		isInstructor = 1;
	}

	//PAGE 2
	//get name
	var name = $('#reg_name').val();
	if(name.length <= 0){
		cancelSubmission("Error: You didn't enter a name.", 2);
	}

	//get email
	var email = $('#reg_email').val();
	if(email.length <= 0){
		//also need to check if email already exists
		cancelSubmission("Error: You didn't enter an email address.", 2);
	}

	//location
	var location = $('#reg_location').val();
	if(location.length <= 0){
		cancelSubmission("Error: You didn't enter a location.", 2);
	}

	//birthday
	//month
	//day
	//year
	var bday_str = String($("#reg_bday_mm").val()) + "/" + String($("#reg_bday_dd").val()) + "/" + String($("#reg_bday_yyyy").val());


	//PAGE 3
	//fitness specialties
	//use array
	if(selected_exercises.length <= 0) {
		cancelSubmission("Error: you didn't select any exercise preferences!", 3);
	}

	//description
	//check for injection
	var description = $("#description").val();


	//PAGE 4
	//debit card name
	//card no
	//expiration date
	//cvv code
	//dont bother with credit card for now

	var reg_data = {
		"data": {
			"display_name": name,
			"email": email,
			"birthday": bday_str,
			"location": location,
			"isInstructor": isInstructor,
			"selected_exercises": selected_exercises,
			"description": description
		},
	}

	//POST it
	$.ajax({
		type: "POST",
		url: "/regcomplete",
		data: JSON.stringify(reg_data),
		contentType: 'application/json',
		dataType: 'json',
		processData: false,
		contentType: "application/json; charset=utf-8",
		complete: function(data){
			window.location.replace('/auth/facebook?p=dashboard');
		}
	});
}

//show error and jump to page
function cancelSubmission(err, page){
	page -= 1;
	$('loader').addClass('hide-loader');
	alert(err);
	$(".content").slick('slickGoTo', page);
	updateBubbleNumbers();

}

</script>

</body>
</html>