<<<<<<< HEAD
<script>

	var numClassesShown;

	function search(input) {

		var urlString;
		makeUrlString(input, urlString, numClassesShown); //not 100% sure we need this

		$.ajax({
			//url: '/api/classes?foo=bar&numClasses=10',
			url: urlString,
			success: function(data){
				//add the new classes, make a new card for each new class
				if(data.length <== 0) {
					displayNoClassMessage();
				} else {
					displayNewClasses(data);
				}
			}
		});

	}

	function makeUrlString(input, urlString) {
		urlString = '/api/classes?';
		if(numClassesShown === null) {
			numClassesShown = 0;
		}
		var numClassesWanted = numClassesShown + 10;
		urlString = urlString + 'numClasses=' + numClassesWanted;
		if(input.body['start_time'] !== '') {
			urlString = urlString + '&start_time='$input.body['start_time']'';
		}
		if(input.body['end_time'] !== '') {
			urlString = urlString + '&end_time='$input.body['end_time']'';
		}
		if(input.body['type_class'] !== '') {
			urlString = urlString + '&type_class='$input.body['type_class']'';
		}
		if(input.body['price'] !== '') {
			urlString = urlString + '&price='$input.body['price']'';
		}
	}

	function displayNoClassMessage() {
		<div class="class-card" align="center">
			There are no classes.
		</div>
	}

	//some of the ejs formatting might be incorrect
	function displayNewClasses(data) {
		if(data.length === numClassesShown) {
			<div class="class-card" align="center">
				There are no more classes to show.
			</div>
		} else {
			for(var i=numClassesShown; i<data.length; i++) {
				<div class="class-card">

					<div class="class-card-inner" align="right">
						<%= data[i].start_time %><br>
						<%= data[i].length_class %> Min<br>
						$<%= data[i].price %>
					</div>

					<div class="class-card-inner">
						<span class="input-title" style="font-family: 'Montserrat';"><%= classes[i].title %></span><Br>
						
							Instructor <%= data[i]].instructor_name%>
							
						<%= data[i].type_class %><br>
						address here
					</div><br>

					<%= data[i].description %>
				</div>
			}

			numClassesShown = data.length;

		}
	}


</script>








// <% if( classes.length > 0) { %>

// 	<% for(var i = 0; i < classes.length; i++){ %>
// 		<div class="class-card">

// 			<div class="class-card-inner" align="right">
// 				<%= classes[i].start_time %><br>
// 				<%= classes[i].length_class %> Min<br>
// 				$<%= classes[i].price %>
// 			</div>

// 			<div class="class-card-inner">
// 			<span class="input-title" style="font-family: 'Montserrat';"><%= classes[i].title %></span><Br>
// 			<% for(var j = 0; j < users.length; j++){ %> 
// 				<% if( users[j].id == classes[i].instructor_id) { %>
// 					Instructor <%= users[j].display_name %>
// 				<% break; } %>	
// 			<% } %><br>
// 			<%= classes[i].type_class %><br>
// 			address here
// 			</div><br>

// 			<%= classes[i].description %>
// 		</div>
// 	<% } %>
	
// <% } else { %>
// <div class="class-card" align="center">
// 	There are no classes.
// </div>
// <% } %>
=======
<% if(activeClasses.length > 0) { %>
	<% for(var i = 0; i < activeClasses.length; i++) { %>
	<div class="class-card" style="margin: 10px; border-radius: 3px;">
		<div class="class-card-header">
			<div style="display: inline-block; width: 50%;">
				0 / <%= activeClasses[i].max_students %> slots
			</div><!--
			--><div style="display: inline-block; width: 50%; text-align: right;">
				More Info &nbsp; <i class="fa fa-caret-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="class-card-table">
			<div style="display: inline-block; margin-right: 20px; vertical-align: top;">
				<b style="text-transform: uppercase;">
				<% if(activeClasses[i].date ) { %> 
					<span class="activeTime"><%= activeClasses[i].date %></span>
				<% } else { %>
					unscheduled
				<% } %>
				</b><br>
				<%=activeClasses[i].length_class%> min<br>
				$<%=activeClasses[i].price%>
			</div><!--
			--><div style="display: inline-block; vertical-align: top;">
				<b><%=activeClasses[i].title%></b><br>
				<% for(var j = 0; j < users.length; j++){ %> 
				<% if( users[j].id == activeClasses[i].instructor_id) { %>
					Instructor <%= users[j].display_name %>
				<% break; } %>	
				<% } %><br>
				<span style="text-transform: capitalize;"><%=exercise_types[activeClasses[i].type_class].name%></span><br>
				<i class="fa fa-map-marker" aria-hidden="true"></i> Location
			</div>
		</div>
	</div><br>
	<% } %>
<% } else  { %>
	<div class="none-class-card">
		None
	</div>
<% } %>

<script>
$('.header-bar').removeClass('hide');
$('.header-bar').css('height', '50px')
$('.header-bar .title').html('datetime (searching active classes)');

$('.activeTime').each(function(i, obj){
	var date = $(obj).html();
	$(obj).html(moment(date).format('hh:mma ddd MMMM Do'));
});

$('.graphic-triangle').css('opacity', .1);
</script>
>>>>>>> 6ef83466197bedc5473598b80346bd76bd3c1489
